.spacer-1 {
    height: 10px;
}

.hidden {
    display: none;
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

#sign-in {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card, .btn {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}